# Environment variables (copy _env to .env and customize)
.env
*.env
node_modules

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
ENV/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Docker
postgres_data/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# SSH keys / secretos personales
personal
personal.pub
